extends admin

block entidad
	h1.page-header Aeropuertos
	.page-header
		.botones
			ul.nav.nav-tabs
				li.active
					a(href="/aeropuertos") Ver
				li
					a(href="/aeropuertos/crear") Crear
				li
					a.modificar(href="#") Modificar
				li
					a.borrar(href="#") Borrar
	.container2
			h2.sub-header Listado de Aeropuertos
			table.table.table-striped.table-bordered
				thead
					tr
						th Codigo
						th Nombre
						th Coordinates
						th Id_ciudad
						th Editar
						th ELiminar
					
				tbody
					- for (var i = 0; i < data.length; i++)
							tr
								td #{data[i].code}
								td #{data[i].name}
								td #{data[i].coordinates}
								td #{data[i].city_id}
								td 
									a(href="/aeropuertos/modificar/#{data[i].code}")
										span.glyphicon.glyphicon-pencil
								td 
									a(href="/aeropuertos/borrar/#{data[i].code}")
										span.glyphicon.glyphicon-trash