extends admin

block entidad
	h1.page-header Aerolineas
	.page-header
		.botones
			ul.nav.nav-tabs
				li.active
					a(href="/aerolineas") Ver
				li
					a(href="/aerolineas/crear") Crear
				li
					a.modificar(href="#") Modificar
				li
					a.borrar(href="#") Borrar
	.container2
			h2.sub-header Listado de Aerolineas
			table.table.table-striped.table-bordered
				thead
					tr
						th ID
						th Nombre
						th Editar
						th Eliminar
				tbody
					- for (var i = 0; i < data.length; i++)
							tr
								td #{data[i].id}
								td #{data[i].name}
								td #{data[i].acronym}
								td 
									a(href="/aerolineas/modificar/#{data[i].id}")
										span.glyphicon.glyphicon-pencil
								td 
									a(href="/aerolineas/borrar/#{data[i].id}")
										span.glyphicon.glyphicon-trash