extends admin

block entidad
	h1.page-header Aviones
	.page-header
		.botones
			ul.nav.nav-tabs
				li.active
					a(href="/aviones") Ver
				li
					a(href="/aviones/crear") Crear
				li
					a.modificar(href="#") Modificar
				li
					a.borrar(href="#") Borrar
	.container2
			h2.sub-header Listado de Aviones
			table.table.table-striped.table-bordered
				thead
					tr
						th ID
						th Gasolina
						th Piloto
						th Año
						th Id_Aerolinea
						th Id_Tipo_Avion
						th 
						th 
				tbody
					- for (var i = 0; i < data.length; i++)
							tr
								td #{data[i].id}
								td #{data[i].gasolina}
								td #{data[i].piloto}
								td #{data[i].año}
								td #{data[i].id_aerolinea}
								td #{data[i].id_tipo_avion}	
								td 
									a(href="/aviones/modificar/#{data[i].id}")
										span.glyphicon.glyphicon-pencil
								td 
									a(href="/aviones/borrar/#{data[i].id}")
										span.glyphicon.glyphicon-trash
