extends admin

block entidad
	h1.page-header Aviones
	.page-header
		.botones
			ul.nav.nav-tabs
				li.active
					a(href="/aviones") Ver
				li
					a(href="/aviones/crear") Crear
				li
					a.modificar(href="#") Modificar
				li
					a.borrar(href="#") Borrar
	.container2
			h2.sub-header Listado de Aviones
			table.table.table-striped.table-bordered
				thead
					tr
						th ID
						th Gasolina
						th Piloto
						th Co-Piloto
						th Año
						th Id_Aerolinea
						th Id_Tipo_Avion
						th Editar
						th Eliminar
				tbody
					- for (var i = 0; i < data.length; i++)
							tr
								td #{data[i].ID}
								td #{data[i].GAS_LEVEL}
								td #{data[i].PILOT}
								td #{data[i].COPILOT}
								td #{data[i].YEAR}
								td #{data[i].AIRLINE_ID}
								td #{data[i].T_MODEL}	
								td 
									a(href="/aviones/modificar/#{data[i].ID}")
										span.glyphicon.glyphicon-pencil
								td 
									a(href="/aviones/borrar/#{data[i].ID}")
										span.glyphicon.glyphicon-trash
