extends admin

block entidad
	script(type="text/javascript").
	h1.page-header Airplane
	.botones
		ul.nav.nav-tabs
			li
				a(href="/aviones") Home
			li.active
				a(href="/aviones/crear") New
	.container-fluid
		h3.sub-header New Airplane
		form.form-horizontal(method='post', action='/aviones/modificar')
			.form-group.row
				label.col-sm-2.control-label ID
				.col-sm-8
					input.form-control(type='text', placeholder='100 -> Lleno', name='id',required, max='100',value="#{data[0].ID}")
			.form-group.row
				label.col-sm-2.control-label Year
				.col-sm-8
					input.form-control(type='number', placeholder='Año de Fabricacion', name='year',required, max='2500',value="#{data[0].YEAR}")
			.form-group.row
				label.col-sm-2.control-label Gas Level
				.col-sm-8
					input.form-control(type='number', placeholder='100 -> Lleno', name='gas_level',required, max='100',value="#{data[0].GAS_LEVEL}")
			.form-group.row
				label.col-sm-2.control-label Pilot
				.col-sm-8
					input.form-control(type='text', placeholder='Piloto', name='pilot',required, maxlength='15',value="#{data[0].PILOT}")
			.form-group.row
				label.col-sm-2.control-label Co-Pilot
				.col-sm-8
					input.form-control(type='text', placeholder='Co-piloto', name='copilot',required, maxlength='15',value="#{data[0].COPILOT}")
			.form-group.row
				label.col-sm-2.control-label Airline
				.col-sm-8
					select.form-control(name='airline_id')
						- for(var i=0; i< aero.length; i++){
						option(value=aero[i].ID) #{aero[i].NAME}
						- }
			.form-group.row
				label.col-sm-2.control-label Model Plane
				.col-sm-8
					select.form-control(name='t_model')
						- for(var i=0; i< mods.length; i++){
						option(value=mods[i].MODEL) #{mods[i].MODEL}
						- }
			.form-group
				.col-sm-offset-2.col-sm-10
					button.btn.btn-primary.btn-lg(type='submit') Submit

