extends users

block entidad
	script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	script(type="text/javascript").
	h1.page-header#titulo Search Flights
	.container-fluid(align='center')
		.row
			.col-md-6.col-md-offset-4
				.panel.panel-primary
					.panel-heading
						h1.panel-title Search Flights
					.panel-bodyPanel#panel
						form.form-horizontal(method='post', action='/buscar', id='formulario')
							.form-group.row#idavuelta
								.col-md-5
									label.radio-inline
										input(type='radio', name='TYPE', value='one way')
										p One-way&nbsp;&nbsp;
									label.glyphicon.glyphicon-arrow-right
								.col-md-5
									label.radio-inline
										input(type='radio', name='TYPE', value='return')
										p Return Trip&nbsp;&nbsp;
									label.glyphicon.glyphicon-retweet
							.form-group
								label.col-sm-2 #{usrname}
								.col-sm-11
							.form-group
								label.col-sm-2 From
								.col-sm-11
									select.form-control.selectFull(name='org',required)
										- for(var i=0; i< origen.length; i++){
											option(value=origen[i].acode) #{origen[i].ciname}, #{origen[i].coname}
										- }
							.form-group
								label.col-sm-2 To
								.col-sm-11
									select.form-control.selectFull(name='dest',required)
										- for(var i=0; i< destino.length; i++){
											option(value=destino[i].acode) #{destino[i].ciname}, #{destino[i].coname}
										- }
							.form-group
								label.col-sm-5 Departure Date
								.col-sm-11
									input.form-control#fecha(type='date', placeholder='', name='departureDate', required)
								.col-sm-4
									script(type='text/javascript').
										$(function(){
										$('*[name=departureDate]').appendDtpicker({
										"closeOnSelected": true,
										"dateOnly": true,
										"autodateOnStart": false
										});
										});
							.row(align='left')
								label.col-md-5 Adults
								.col-md-1
								label.col-md-5 Kids
							.form-group.row
								.col-sm-5
									select.form-control.selectFull(name='adults',required)
										- for(var i=1; i< 11; i++){
											option(value=i)= i
											- }
								.col-md-1
								.col-md-5
									select.form-control.selectFull(name='kids')
										- for(var i=0; i< 11; i++){
											option(value=i)= i
											- }
							.form-group
								.col-md-11
									button.btn.btn-primary.btn-block(type='submit') Find Flights
