extends admin

block entidad
	script(type="text/javascript").
	h1.page-header Ciudades
	.page-header
		.botones
			ul.nav.nav-tabs
				li.active
					a(href="/ciudades") Ver
				li
					a(href="/ciudades/crear") Crear
				li
					a(href="#") Modificar
				li
					a(href="#") Borrar	
	.container2
			h2.sub-header Ciudades
			table.table.table-striped.table-bordered
				thead
					tr
						th Codigo Ciudad
						th Nombre
						th Codigo Pais
						th Editar
						th Eliminar
				tbody
					- for (var i = 0; i < data.length; i++)
							tr
								td #{data[i].code}
								td #{data[i].name}
								td #{data[i].c_code}
								td(style='width:5px;')
									a(href="/ciudades/modificar/#{data[i].id}")
										span.glyphicon.glyphicon-pencil
								td(style='width:5px;')
									a(href="/ciudades/borrar/#{data[i].id}")
										span.glyphicon.glyphicon-trash