extends admin

block entidad
	h1.page-header Paises
	.page-header
		.botones
			ul.nav.nav-tabs
				li.active
					a(href="/Paises") Ver
				li
					a(href="/Paises/crear") Crear
				li
					a.modificar(href="#") Modificar
				li
					a.borrar(href="#") Borrar
.container2
		h2.sub-header Paises
		.table-responsive
			table.table.table-striped
				thead
					tr
						th Codigo Pais
						th Nombre
						th Lengua Principal
						th Editar
						th Eliminar
				tbody
					- for (var i = 0; i < data.length; i++)
							tr
								td #{data[i].code}
								td #{data[i].name}
								td #{data[i].main_lang}
								td(style='width:5px;')
									a(href="/paises/modificar/#{data[i].code}")
										span.glyphicon.glyphicon-pencil
								td(style='width:5px;')
									a(href="/paises/borrar/#{data[i].code}")
										span.glyphicon.glyphicon-trash