extends admin

block entidad
	script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	script(type="text/javascript").
	h1.page-header Passenger
	.botones
		a.btn.btn-primary(type='button',href="/pasajeros")
			span.glyphicon.glyphicon-chevron-left Back
	.container-fluid
		h3.sub-header Edit Passenger 
		form.form-horizontal(method='post', action='/pasajeros/modificar')
			.form-group
				label.col-sm-2.control
				.col-sm-8
					input(type='hidden',name='id' ,value='#{data[0].ID}')
			.form-group.row
				label.col-sm-2.control-label Name
				.col-sm-8
					input.form-control(type='text', name='name',required ,value='#{data[0].NAME}')
			.form-group.row
				label.col-sm-2.control-label PIN
				.col-sm-8
					input.form-control(type='text', name='pin',required, value='#{data[0].PIN}')
			.form-group.row
				label.col-sm-2.control-label Sex
				.col-sm-8
					input.form-control(type='text',  name='sex', required, maxlength='1',value='#{data[0].SEX}')
			.form-group.row
				label.col-sm-2.control-label Birthday
				.col-sm-8
					input.form-control(type='date',  name='birthday', required, value='#{data[0].BIRTHDAY}')
				.col-sm-4
					script(type='text/javascript').
						$(function(){
						$('*[name=birthday]').appendDtpicker({
						"closeOnSelected": true,
						"autodateOnStart": false,
						"dateOnly": true
						});
						});
			.form-group.row
				label.col-sm-2.control-label Nacionality
				.col-sm-8
					select.form-control.selectFull(name='c_code',required)
						- for(var i=0; i< data.length; i++){
						option(value=data[i].C_CODE) #{data[i].C_CODE}
						- }
			.form-group
				.col-sm-offset-2.col-sm-10
					button.btn.btn-primary.btn-lg(type='submit') Submit
