extends admin

block entidad
	h1.page-header Pasajeros
	.page-header
		.botones
			ul.nav.nav-tabs
				li.active
					a(href="/pasajeros") Ver
				li
					a(href="/pasajeros/crear") Crear
				li
					a.modificar(href="#") Modificar
				li
					a.borrar(href="#") Borrar
	.container2
			h2.sub-header Listado de pasajeros
			table.table.table-striped.table-bordered
				thead
					tr
						th ID
						th PIN
						th Nombre
						th Sexo
						th Fecha de Nacimiento
						th Codigo Ciudad
						th Editar
						th Eliminar		
				tbody
					- for (var i = 0; i < data.length; i++)
						tr
							td #{data[i].ID}
							td #{data[i].PIN}
							td #{data[i].NAME}
							td #{data[i].SEX}
							td #{data[i].BIRTHDAY}
							td #{data[i].C_CODE}
							td(style='width:5px;')
								a(href="/pasajeros/modificar/#{data[i].ID}")
									span.glyphicon.glyphicon-pencil
							td(style='width:5px;')
								a(href="/pasajeros/borrar/#{data[i].ID}")
									span.glyphicon.glyphicon-trash		