extends admin

block entidad
	h1.page-header Pasajeros
	.page-header
		.botones
			ul.nav.nav-tabs
				li.active
					a(href="/pasajeros") Ver
				li
					a(href="/pasajeros/crear") Crear
				li
					a.modificar(href="#") Modificar
				li
					a.borrar(href="#") Borrar
	.container
		h2.sub-header Listado de pasajeros
		.table-responsive
			table.table.table-striped
				thead
					tr

						th ID
						th PIN
						th Nombre
						th Sexo
						th Fecha de Nacimiento
						th Codigo Ciudad
						th Editar
						th Eliminar

				tbody
					- for (var i = 0; i < data.length; i++)
							tr
								td #{data[i].id}
								td #{data[i].pin}
								td #{data[i].name}
								td #{data[i].sex}
								td #{data[i].birthday}
								td #{data[i].c_code}
								td(style='width:5px;')
									a(href="/pasajeros/modificar/#{data[i].id}")
										span.glyphicon.glyphicon-pencil
								td(style='width:5px;')
									a(href="/pasajeros/borrar/#{data[i].id}")
										span.glyphicon.glyphicon-trash

					