extends admin

block entidad
	script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
	script(type="text/javascript").
	h1.page-header Scheduled Flights
	.botones
		a.btn.btn-primary(type='button',href="/programaVuelos")
			span.glyphicon.glyphicon-chevron-left Back
	.container-fluid
		h3.titulo Scheduled Flights Edit
		form.form-horizontal(method='post', action='/programaVuelos/modificar')
			input.form-control(type='hidden', value='#{data[0].ID}', name='id', required)
			.form-group.row
				label.col-sm-3.control-label Weeks Days
				.col-sm-9
					label.checkbox-inline
						input(type='checkbox',value='1')
						label Monday
					label.checkbox-inline
						input(type='checkbox',value='2')
						label Tuesday
					label.checkbox-inline
						input(type='checkbox',value='3')
						label Wednesday
					label.checkbox-inline
						input(type='checkbox',value='4')
						label Thursday
					label.checkbox-inline
						input(type='checkbox',value='5')
						label  Friday
					label.checkbox-inline
						input(type='checkbox',value='6')
						label Saturday
					label.checkbox-inline
						input(type='checkbox',value='7')
						label Sunday
			.form-group.row
				label.col-sm-3.control-label Estimated Departure
				.col-sm-8
					input.form-control(type='text', placeholder='Hora de Salida', name='estimated_departure', value ='#{data[0].ESTIMATED_DEPARTURE}')
					script(type='text/javascript').
						$(function(){
						('#estimated_departure').timepicker({
						'timeFormat': 'H:i:s'
						});
						});
			.form-group.row
				label.col-sm-3.control-label Estimated Duration
				.col-sm-8
					input.form-control(type='text', placeholder='Duracion del Viaje', name='estimated_duration', value = '#{data[0].ESTIMATED_DURATION}')
			.form-group.row
				label.col-sm-3.control-label Destino
				.col-sm-8
					input.form-control(type='text', placeholder='Codigo Aeropuerto Destino', name='destiny_code', value = '#{destino[0].NAME}')
			.form-group.row
				label.col-sm-3.control-label Origen
				.col-sm-8
					input.form-control(type='text', placeholder='Codigo Aeropuerto Origen', name='origin_code', value = '#{origen[0].NAME}')
			.form-group
				.col-sm-offset-3.col-sm-10
					button.btn.btn-primary.btn-lg(type='submit') Submit