extends admin

block entidad
	h1.page-header Programa de Vuelos
	.page-header
		.botones
			ul.nav.nav-tabs
				li.active
					a(href="/programaVuelos") Ver
				li
					a(href="/programaVuelos/crear") Crear
				li
					a.modificar(href="#") Modificar
				li
					a.borrar(href="#") Borrar
	.container2
			h2.sub-header Programa de Vuelos
			table.table.table-striped.table-bordered
				thead
					tr
						th ID
						th Fecha
						th Salida Estimada
						th Duracion Estimada
						th Ciudad de Destino
						th Ciudad de Origen
						th Avion
						th Editar
						th Eliminar
					
				tbody
					- for (var i = 0; i < data.length; i++)
							tr
								td #{data[i].ID}
								td #{data[i].WEEK_DAYS}
								td #{data[i].ESTIMATED_DEPARTURE}
								td #{data[i].ESTIMATED_DURATION}
								td #{data[i].DESTINY_CODE}
								td #{data[i].ORIGIN_CODE}
								td #{data[i].AIRPLANE_T_ID}
								td 
									a(href="/programaVuelos/modificar/#{data[i].ID}")
										span.glyphicon.glyphicon-pencil
								td 
									a(href="/programaVuelos/borrar/#{data[i].ID}")
										span.glyphicon.glyphicon-trash