extends admin

block entidad
    script(type="text/javascript").
    h1.page-header Fligths
    .botones
        ul.nav.nav-tabs
            li
                a(href="/vuelos") Home
            li.active
                a(href="/vuelos/crear") New
    .container-fluid
        h3.sub-header New Fligth
        form.form-horizontal(method='post', action='/vuelos')
            .form-group
                label.col-sm-2.control-label Departure Time
                .col-sm-8
                    input.form-control(type='time', placeholder='12:00', name='departure_time', required)
            .form-group
                label.col-sm-2.control-label Arrival Time
                .col-sm-8
                    input.form-control(type='time', placeholder='13:00', name='arrival_time', required)
            .form-group
                label.col-sm-2.control-label Plane
                .col-sm-8
                    select.form-control.selectFull(name='plane_id', required)
                        - for(var i=0; i< data.length; i++){
                        option(value=data[i].ID) #{data[i].ID}
                        - }
            .form-group
                label.col-sm-2.control-label Scheduled Flight
                .col-sm-8
                    select.form-control.selectFull(name='s_flight_id',required)
                        - for(var i=0; i< data.length; i++){
                        option(value=data2[i].S_FLIGHT_ID) #{data2[i].S_FLIGHT_ID}
                        - }
            .form-group.row
                label.col-sm-2.control-label Gate
                .col-sm-8
                    select.form-control.selectFull(name='gate_name' required)
                        - for(var i=0; i< data.length; i++){
                        option(value=data3[i].GATE_NAME) #{data3[i].GATE_NAME}
                        - }
            .form-group
                .col-sm-offset-2.col-sm-10
                    button.btn.btn-primary.btn-lg(type='submit') Submit